<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="header">
      <a href="#">Home</a>
      <a href="#">Add a Book and Review</a>
      <a href="#">logout</a>
    </div>
    <div class="content">
      <table>
        <thead>
          <tr>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Name </td>
            <td>Liseth hshs</td>
          </tr>
        </tbody>
      </table>
      <p>Posted Reviews in the followring Vooks</p>
      <a href="#">hjsah</a>
      <a href="#">sss</a>
      <a href="#">sss</a>
    </div>
  </body>
</html>
